/* pages/myapplication/myapplication.wxss */
.myapplication {
	background-color: #F0F0F0;
	padding-bottom: 1400rpx;

}

/* 搜索 */
.page_row {
	display: flex;
	background-color: #FFFFFF;
	padding: 30rpx 30rpx;

}

.search {
	line-height: 40px;
	padding: 0 30rpx;
	flex: 1;

}

.search_w {
	background-color: #EFECEC;
	border-radius: 30rpx;
	height: 30px;
	padding: 0 60rpx;
}

.sousuo {
	width: 50px;
	height: 30px;
	background-color: #FD6200;
	font-size: 12px;
	color: #ffffff;
	text-align: center;
	line-height: 30px;
	border-radius: 10rpx;
}

/* 搜索结束 */

.contre {
	padding: 15rpx;
}

.contre .lists {
	background-color: #ffffff;
	padding: 25rpx;
	border-radius: 20rpx;
}

.top-company text {
	font-size: 12px;
	margin-right: 30rpx;
	color: rgb(88, 85, 85);
}

.top-company .iconfont {
	color: #69B1FC;
}

.task {
	padding: 20rpx 0;
	display: flex;
	justify-content: space-between;
}

.task .price-red {
	color: #FF9079;
}

.site {
	font-size: 12px;
	color: rgb(88, 85, 85);
}

.task-narrate {
	padding: 10rpx 0;
	display: flex;
	justify-content: space-between;
}

.task-time {
	font-size: 12px;
	color: rgb(88, 85, 85);
	padding-top: 10rpx;
}

.clearing-form .done {
	border: 1px solid #69B1FC;
	padding: 10rpx;
	border-radius: 8px;
	font-size: 12px;
	color: #69B1FC;

}

/* pages/information/information.wxss */
.information {
	text-align: center;
}

.information .text {
	padding: 70rpx 0;
	color: #9E9E9E;
}

.button button {
	border-radius: 50rpx;
	color: #ffffff;
}

/* 侧边图片定位 */
.transverse-fixing {
	width: 40px;
	height: 30px;
	border-radius: 50px 0 0 50px;
	background: #1D88FA;
	position: fixed;
	top: 50%;
	right: 0;
}

.diximg {
	/* display: inline-block; */
	width: 40px;
	height: 30px;
}

.affirm-login {
	display: flex;
	position: fixed;
	width: 100%;
	top: 20%;
	justify-content: center;
}
