page {
	height: 100%;
	/*生效*/
}

.subject {
	width: 100%;
	height: 100%;
	background-color: #1F88F9;
	color: #ffffff;
}

.bankcard {
	padding: 35rpx;
	display: flex;
	justify-content: center;
}

.contre {
	width: 100%;
	padding: 35rpx;
	border: 1rpx solid darkcyan;
	border-radius: 20rpx;
	background: linear-gradient(to right, #0488F7, #13B6BA);
}

.contre view {
	padding-bottom: 30rpx;
}

.change {
	padding-top: 10rpx;
	text-align: center;
}
